@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base-blue:#419fd9;
  --base-blue-50:#419fd9d1;
}
/* 自定义滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
 
/* 自定义滚动条的滑块 */
::-webkit-scrollbar-thumb {
  background-color: #8888883c;
}
 
/* 设置滚动条的宽度 */
::-webkit-scrollbar {
  width: 10px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1000px;
}

